---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}


{% for post in site.posts %}
    <div class="home-post-list">
        <h4><a href="{{ post.url }}" class="link-post_list">{{ post.title }}</a></h4>        
        <p class="post-meta">
            {{ post.date | date: "%b %d, %Y" }} by {{ post.author }}
        </p>
        <div class="post-list-content">
          {{ post.excerpt }} <!-- excerpt 추가 -->
            <p class="text-right"><a href="{{ post.url }}">read more...!</a></p>
        </div>
    </div>
{% endfor %}




{% include paginator.html %}
